[Desktop Entry]
Version=1.0
Name=fucha Coin
Comment=fucha P2P Cryptocurrency
Comment[fr]=fucha, monnaie virtuelle cryptographique pair à pair
Comment[tr]=fucha, eşten eşe kriptografik sanal para birimi
Exec=fucha-qt %u
Terminal=false
Type=Application
Icon=fucha128
MimeType=x-scheme-handler/fucha;
Categories=Office;Finance;
StartupWMClass=fucha-qt
