
## <summary>policy for fucha</summary>


########################################
## <summary>
##	Transition to fucha.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fucha_domtrans',`
	gen_require(`
		type fucha_t, fucha_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fucha_exec_t, fucha_t)
')


########################################
## <summary>
##	Execute fucha server in the fucha domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fucha_initrc_domtrans',`
	gen_require(`
		type fucha_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, fucha_initrc_exec_t)
')


########################################
## <summary>
##	Search fucha lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fucha_search_lib',`
	gen_require(`
		type fucha_var_lib_t;
	')

	allow $1 fucha_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read fucha lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fucha_read_lib_files',`
	gen_require(`
		type fucha_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, fucha_var_lib_t, fucha_var_lib_t)
')

########################################
## <summary>
##	Manage fucha lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fucha_manage_lib_files',`
	gen_require(`
		type fucha_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, fucha_var_lib_t, fucha_var_lib_t)
')

########################################
## <summary>
##	Manage fucha lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fucha_manage_lib_dirs',`
	gen_require(`
		type fucha_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, fucha_var_lib_t, fucha_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a fucha environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`fucha_admin',`
	gen_require(`
		type fucha_t;
		type fucha_initrc_exec_t;
		type fucha_var_lib_t;
	')

	allow $1 fucha_t:process { ptrace signal_perms };
	ps_process_pattern($1, fucha_t)

	fucha_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 fucha_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, fucha_var_lib_t)

')

