# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=fucha Coin
Comment=fucha Coin QT main network
GenericName=fucha Digital Currency QT client main network
Exec=fucha-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/fucha.png
MimeType=x-scheme-handler/fucha;
Categories=X-Office;X-Finance;
Keywords=internet;fucha;zfucha;fucha;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
