# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=fucha Coin Daemon SNAP
Comment=main
GenericName=fucha Digital Currency Daemon Client main network
Exec=fucha-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/fucha.png
MimeType=x-scheme-handler/fucha;
Categories=X-Office;X-Finance;
Keywords=internet;fucha;zfucha;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
